/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.logo img {
  height: 50px;
}
@media (orientation: portrait) {
  .logo img {
    display: none;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

@media (orientation: landscape) {
  li {
    display: inline;
    margin-right: 20px;
  }
}

@media (orientation: portrait) {
  li {
    display: none;
    margin-right: 20px;
  }
}


a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(45deg, white, white, white,
  #f7dc66, #a8216b, #f1184c, #f36943);
  background-size: 300%;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.5s ease-in-out, transform 0.5s ease-in-out;
  @media (orientation: landscape) {
    display: inline-block;
  }
  @media (orientation: portrait) {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

a:hover {
  background-position: 100%;
  transform: scale(1.2);
}

.icon-container {
  display: flex;
  gap: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  object-fit: fill;
  border-radius: 10px;
}

.fa-telegram {
  width: 50px;
  height: 50px;
  object-fit: fill;
  border-radius: 10px;
}

/* Banner section */
.banner {
  background-color: black;
}

.banner img {
  width: 100%;
  height: auto;
}

/* Content section */
.content {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.game-preview img {
  width: 100%;
  border-radius: 20px;
}

.text-content {
  max-width: 500px;
}

.text-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.app-links {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.app-links img {
  height: 100px;

}

@media (orientation: landscape) {
  video {
    width: 100%;
    max-width: 850px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (orientation: portrait) {
  video {
    display: none;
  }
}

@media (orientation: portrait) {
  /* Basic styling for the dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-button {
    background-color: black;
    border: none;
    margin-right: 200px;
  }
}

@media (orientation: landscape) {
  .dropdown {
    display: none;
  }
}

/* Container for the dropdown links */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  border-radius: 10px;
  z-index: 1;
}



/* Show the dropdown content when hovering over the dropdown */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change button color when hovering */
.dropdown:hover .dropdown-button {
  transform: scale(1.2);
}

